* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(16, 39, 83);
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00000066;
    color: #fff;
    width: 100%;
    user-select: none;
}

.logo {
    font-size: 18px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.disclamer {
    text-align: center;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    color: white;
}

.search-bar {
    padding-top: 20vh;
    padding-bottom: 2vh;
    display: grid;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.search-bar input {
    padding: 10px;
    max-width: 400px;
    border-radius: 15px;
    border: 6px solid #000000;
}

.center-torents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.torents {
    border-radius: 15px;
    display: inline-block;
    border: 6px solid;
    max-width: 90%;
    text-align: left;
    padding: 10px 20px;
    background-color: #fff;
    list-style-position: inside;
}
.torents a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
}